.appbar { 
    width: 100%;
    height: 64px;
    background-color: #4c1130;
    position: relative;
    
    
    & .img{
        height: 80%;
        padding: 2px;
        margin: 5px 0px 0px 16px;
    }
    
    & .title{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        margin-left: 5px;
        font-size: 24px;
        cursor: default;

        & .white-text{
            color: white;
        }

        & .pink-text{
            color: #ff5959;
        }
    }

    & ul {
        padding: 0;
        margin: 0;
        list-style: none;
        
        & li{
            display: inline;
        }
        
        & a{
            display: inline-block;
            font-family: 'Dosis', sans-serif;
            font-weight: 600;
            font-size: 18px;
            color: white;
            text-decoration: none;
            margin: 0 25px;
        }
    }
    & .menu{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        margin-right: 10px;
    }
}