.list-item{
    display: flex;
    flex-direction: column;
    background-color: white;
    font-family: 'Dosis', sans-serif;
    margin: 1px 0;
    padding: 10px;
    border-bottom: solid rgb(202, 202, 202) 1px;

    &--main{
        font-size: 24px;
    }

    &--other{
        margin-top: 10px;
        font-size: 16px;
        color: #5f5f5f;
    }

    &--other-text{
        margin-right: 30px;
    }
}