.map{
    height: calc(100% - 64px);
}

.loading{
    color: black;
    font-family: 'Dosis',sans-serif;
    font-weight: 800;
    font-size: 36px;
    margin-top: 100px;
    text-align: center;
}

h4 {
    margin: 5px 0; 
}

#floating-panel {
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    background-color: #fff;
    border: 0px;
    left: 190px;
    padding: 0px;
    position: absolute;
    top: 74px;
    z-index: 5;
}

#floating-panel > button {
    background-color: #f2484b;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 11px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0px 1px 7px -1px rgba(50, 50, 50, 0.49);
}

#floating-panel > button:hover {
    background-color: #c93134;
    border: #c93134
}

body {
    overflow: hidden;
}

#painel-alertas {
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    background-color: #fff;
    border: 0px;
    border-radius: 3px;
    right: 10px;
    padding: 0px;
    position: absolute;
    top: 74px;
    z-index: 5;
    width: 250px;
    //height: calc(100% - 95px);
    max-height: calc(100% - 84px);
    overflow-y: auto;
    box-shadow: 0px 1px 7px -1px rgba(50, 50, 50, 0.49);
}

.alerta-no-painel {
    list-style-type: none;
    background-color: #ddd;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.alerta-no-painel > span {
    padding: 0;
    margin: 0;
}