.login{
    background-color: #4c1130;
    height: 100vh;
}

.login_input{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &--logo{
        position: relative;
        left: 265px;
        bottom: 200px;
    }

    &--form{
        display: flex;
        justify-content: center;
        align-items: center;
        //margin: 0 auto;
        background-color: white;
        width: 400px;
        height: 200px;
        border-radius: 10px;
    }

    &--field{
        margin-top: 20px;
        padding: 10px;
        padding-bottom: 5px;
        border: 0;
        border-bottom: solid #b8b8b8 2px;
        font-size: 18px;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
    }

    &--button{
        position: relative;
        background-color: #ff5959;
        border: 0;
        top: 40px;
        left: 30px;
        height:48px;
        width:200px;
        border-radius: 5px;
        font-size: 18px;
        font-weight: 600;
        font-family: 'Montserrat', sans-serif;
        color: white;
    }

    &--button:disabled{
        background-color: #d46363;
        color: #696969;
    }

    &--error{
        width: 100%;
        text-align: center;
        padding-top: 15px;
        color: red;

    }
}