.notfound{
    background-color: #4c1130;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &--msg{
        color: white;
        font-size: 36px;
        font-weight: 800;
        font-family: 'Dosis', sans-serif;
    }
    &--logo{
        margin-bottom: 50px;
    }
}