.occur{
    font-size: 24px;
    font-weight: 800;


    &--select-container{
        margin-left: 50px;
        margin-bottom: 20px;
    }

    &--select{
        margin-left: 5px;
        background-color: white;
        border: solid 1px rgb(167, 167, 167);
        border-radius: 5px;
        padding: 5px;
        appearance: none;
    }
    
}

.header{
    margin-left: 70px;
    font-family: 'Dosis', sans-serif;
    font-size: 36px;
    color: gray;
}